/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
$first-color: hsl(228, 66%, 53%);
$first-color-alt: hsl(228, 66%, 47%);
$first-color-light: hsl(228, 62%, 59%);
$first-color-lighten: hsl(228, 100%, 97%);
$second-color: hsl(25, 83%, 53%);
$title-color: hsl(228, 57%, 28%);
$text-color: hsl(228, 15%, 50%);
$text-color-light: hsl(228, 12%, 75%);
$border-color: hsl(228, 99%, 98%);
$body-color: #fff;
$container-color: #fff;