/*========== Font and typography ==========*/

// font family
$body-font: "Poppins", sans-serif;

// sizes
/*.5rem = 8px | 1rem = 16px ...*/
$biggest-font-size: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;