@use "../global/" as *;

.header {
  @include themify($themes) {
    top: 0;
    left: 0;
    width: 100%;
    transition: .4s;
    border-bottom: 1px solid themed("border");
    position: sticky;
    z-index: 999;
    background-color: themed("bg");
    color:themed("textColor");

    .nav {
      height: $header-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;

      .left {
        display: flex;
        align-items: center;
        gap: 2rem;

        .logo {
          color: $first-color-light;
          display: inline-flex;
          align-items: center;
          column-gap: .25rem;
          font-weight: $font-semi-bold;
          transition: .3s;

          i   {
            font-size: 1rem;
          }

          &:hover {
            color: $first-color-alt;
          }
        }

        .search {
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid themed("border");
          border-radius: 5px;
          padding: 5px;
  
          input {
            border: none;
            width: 500px;
            background-color: transparent;
            color: themed("textColor");
  
            @include mobile{
              display: none;
            }
  
            @include tablet{
              width: 200px;
            }
          }
        }

      }

      .right {
        display: flex;
        align-items: center;
        gap: 20px;

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.navbar {
    @include themify($themes) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      height: 50px;
      border-bottom: 1px solid themed("border");
      position: sticky;
      top: 0;
      background-color: themed("bg");
      color:themed("textColor");
      z-index: 999;

      max-width: 1024px;
      margin-left: 1.5rem;
      margin-right: 1.5rem;

      @media (max-width: 350px) {
        margin-left: 1rem;
        margin-right: 1rem;
      } 

      @media (min-width: 1040px) {
        margin-left: auto;
        margin-right: auto;
      }
  
      .left {
        display: flex;
        align-items: center;
        gap: 30px;
  
        span {
          font-weight: bold;
          font-size: 20px;
          color: themed("logo");
        }
  
        .search {
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid themed("border");
          border-radius: 5px;
          padding: 5px;
  
          input {
            border: none;
            width: 500px;
            background-color: transparent;
            color: themed("textColor");
  
            @include mobile{
              display: none;
            }
  
            @include tablet{
              width: 200px;
            }
          }
        }
      }
  
      .right {
        display: flex;
        align-items: center;
        gap: 20px;
  
        @include mobile{
          display: none;
        }
  
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
  
          @include tablet{
            display: none;
          }
  
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
  
        }
      }
    }
}