@use "../global/" as *;

.home{
    @include themify($themes) {
      background-color: themed("bgSoft");

      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
    }
}