@use "../global/" as *;

.profile {
    @include themify($themes) {
      background-color: themed("bgSoft");

      .profile-images {
        width: 100%;
        height: 300px;
        position: relative;

        .cover {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .profilePic {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 200px;
        }
      }

      .profile-container {
        padding: 1rem 0rem;

        .profile-wrapper {
          //height: 180px;
          -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          border-radius: 1rem;
          background-color: themed("bg");
          color: themed("textColor");
          margin-bottom: 1.5rem;

          .user-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.8rem;
            padding: 5.4rem 0 1.4rem 0;

            &__name {
              font-size: 2rem;
            }

            &__socials {
              display: flex;
              gap: 1rem;

              a {
                color: themed("textColorSoft");
              }
            }

            &__extra {
              display: flex;
              flex-direction: row;

              .location {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                .item {
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  color: themed("textColorSoft");
  
                  span {
                    font-size: 12px;
                  }
                }
              }
            }

            .follow {
              display: flex;
              align-items: center;
              button {
                border: none;
                background-color: #5271ff;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
}